{{> menu active="about"}}

<section class="hero">
</div>
 <section class="hero">
        <figure class="image">
            <img src="https://images.pexels.com/photos/167636/pexels-photo-167636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
        </figure>
    </section>
 <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <i style="font-size: 33px; color: rgb(49, 155, 16);" class="fas fa-music"></i>

                    <a href="">
                        <i style="color: rgb(49, 155, 16);" class="fab fa-facebook-square fa-2x"></i>
                    </a>
                    <a href="">
                        <i style="color: rgb(49, 155, 16);" class="fab fa-twitter-square fa-2x"></i>
                    </a>
                    <a href="">
                        <i style="color: rgb(49, 155, 16);" class="fab fa-instagram fa-2x"></i>
                    </a>
                    <a href="">
                        <i style="color: rgb(49, 155, 16);" class="fab fa-snapchat fa-2x"></i>
                    </a>
                </p>
            </div>
        </div>
    </footer>
<section class="hero">
   <div class="hero-inner">
            <h2>To view the main site, click:</h2>
            <a href="https://wit.ie/" class="btn">Go ahead...</a>
            <br>
        </div>
    </section>
</body>

</html>
</section>
